## Function

An example of the usages of function in python

In [2]:
def add(x,y):
    return x+y
def substract(x,y):
    return  x-y
def multiplication(x,y):
    return x*y
def divition(x,y):
    return x/y
x=0
y=0
s = input("Enter 1 if you want to add, 2 to sunstract, 3 to multiply & 4 to divide  else enter 0 : ")
while s!="0":
    if s=="1":
        x = int(input("enter first number x : "))
        y = int(input("enter second number y : "))
        print("the addition of x & y : ", add(x,y))
        s = input("Enter 1 if you want to add, 2 to sunstract, 3 to multiply & 4 to divide  else enter 0 : ")
    elif s=="2":
        x = int(input("enter first number x : "))
        y = int(input("enter second number y : "))
        print("the substraction of x & y : ", substract(x,y))
        s = input("Enter 1 if you want to add, 2 to sunstract, 3 to multiply & 4 to divide  else enter 0 : ")
    elif s=="3":
        x = int(input("enter first number x : "))
        y = int(input("enter second number y : "))
        print("the multiplication of x & y : ", multiplication(x,y))
        s = input("Enter 1 if you want to add, 2 to sunstract, 3 to multiply & 4 to divide  else enter 0 : ")
    elif s=="4":
        x = int(input("enter first number x : "))
        y = int(input("enter second number y : "))
        print("the divition of x & y : ", divition(x,y))
        s = input("Enter 1 if you want to add, 2 to sunstract, 3 to multiply & 4 to divide  else enter 0 : ")
    else:
        if s!="0":
            print("you enterd wrong input")
            s = input("Enter 1 if you want to add, 2 to sunstract, 3 to multiply & 4 to divide  else enter 0 : ")
print("Thank you")

the addition of x & y :  10
the substraction of x & y :  5
the multiplication of x & y :  10
the divition of x & y :  5.0
Thank you

## Loop

An example of the usages of Loop in python

In [2]:
print("lets print Fibonacciseries upto 20 numbers :")
num1=0
num2=0
print(num1)
print("Enter for Loop")
for i in range(20):
    if i==0:
        num1=num1+1
    else:
        num3=num1
        num1=num1+num2
        num2=num3
    print(num1)

lets print Fibonacciseries upto 20 numbers :
0
Enter for Loop
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765

In [3]:

print("lets print Fibonacciseries upto 20 numbers :")
num1=0
num2=0
print(num1)
print("Enter while Loop")
w=0
while w<20:
    if w==0:
        num1=num1+1
    else:
        num3=num1
        num1=num1+num2
        num2=num3
    print(num1)
    w=w+1

lets print Fibonacciseries upto 20 numbers :
0
Enter while Loop
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765

## Condition

An example of the usages of condition (if_else) in python

In [4]:
number = input("Enter a number to check -> ");
if int(number)%2==0:
    print("The number ",number, " is even");
else:
    print("The number ",number, " is odd");

The number  1  is odd

In [5]:
number = input("Enter a number to check -> ");

if int(number)>0:
    print("The number ",number, " is positive");
elif int(number)==0:
    print("The number ",number, " is ZERO!");
else:
    print("The number ",number, " is negetive");

The number  0  is ZERO!

## String

An example of the usages of strings in python

In [77]:
s = 'shabab'
print(s)
print("----------")
s = 'shabab\'s' #a method of printing like -> (shabab's)
print(s)
print("----------")
s = "Shabab's" #a method of printing like ->  (shabab's)
print(s)
print("----------")
print(len(s))
print("----------")
print(s[0])
print("----------")
for c in s:
    print(c)

shabab
----------
shabab's
----------
Shabab's
----------
8
----------
S
----------
S
h
a
b
a
b
'
s

In [76]:
s = 'shabab'
A="Bangla"
B="desh"
country=A+B

for c in s:
    print(c)
print("----------")
C=['A','b','C']
print(C)
print("----------")
print(A+B,"&",country)

s
h
a
b
a
b
----------
['A', 'b', 'C']
----------
Bangladesh & Bangladesh

find() to find a specific string in a string, if we find what we nwwd it returns the first index where the string is found else prints -1

In [75]:
x=50
y=5
print(x+y)
print(country.find('desh'))

55
6

In [74]:
country=A+B
country2=" North Korea "

print(country2)
country2=country2.replace("North","South") #to replace a part into a string
print(country2)

#lstrip()->clears the extra spaces in string (left);rstrip()->clears the extra spaces in string (right);strip()->clears the extra spaces in string
print(country2.strip())

#upper() method turns all the letter case in a string in 'UPPER CASE'
print(country.upper())
#lower() method turns all the letter case in a string in 'lower case'
print(country.lower())

print(country2.split())

North Korea
 South Korea
South Korea
BANGLADESH
bangladesh
['South', 'Korea']

In [73]:
A="Bangla"
B="desh"
country=A+B
text="ba ba black sheep"
print(text.count('ba')) #to count how many times a substring is in the string
print(country.startswith('Ban'))
print(country.endswith('Desh'))

2
True
False

In [5]:
Str = 'the quick brown fox jumps over lazy dog'
for c in "abcdefghijklmnopqrstuvwxyz":
    print(c,Str.count(c))

a 1
b 1
c 1
d 1
e 2
f 1
g 1
h 1
i 1
j 1
k 1
l 1
m 1
n 1
o 4
p 1
q 1
r 2
s 1
t 1
u 2
v 1
w 1
x 1
y 1
z 1

###   Practice question 1:  
write a programme which takes a string input & returns 4 strings where one consists uppercase, another lowercase
####    another numbers & another consists of any other characters

In [70]:
Str = input("Enter a string which consists numbers,letters or any other character : ")
U=''
l=''
num=''
oc=''
for c in Str:
    if c in text.upper():
        U=U+c
    elif c in text:
        l=l+c
    elif c in '0123456789':
        num=num+c
    else:
        if c!=' ':
            oc=oc+c
print(U)
print(l)
print(num)
print(oc)

SAA
hbb
123
=!

###   Practice question 2:
  write a programme which takes a string input & swaps between 2 letters(1<->2, 3<->4, 5<->6)

In [71]:
Str = input("Enter a string : ")
str2=''
for c in range(len(Str)):
    if c%2==0:
        str2=str2+Str[c+1]+Str[c]
print(str2)

hsbaba

###   Find if a word is palindrome or not

In [72]:
str = input("Enter a string to check palindrome : ")
c = len(str)-1
str2=''
while c>=0:
    str2=str2+str[c]
    c=c-1
if str==str2:
    print(str2," is a palindrome")
else:
    print(str2," is not a palindrome")

madam  is a palindrome

#   Python Data Structure

##   1.List

In [1]:
saarc=["Bangladesh","India","Pakistan","Sri Lanka","Nepal","Bhutan","Maldivs"]
print(saarc)

['Bangladesh', 'India', 'Pakistan', 'Sri Lanka', 'Nepal', 'Bhutan', 'Maldivs']

### append() to add in the list

In [2]:
saarc.append("Afghanistan")
print(saarc)

['Bangladesh', 'India', 'Pakistan', 'Sri Lanka', 'Nepal', 'Bhutan', 'Maldivs', 'Afghanistan']

### sort() function to sort the elements of a list in a ascending order

In [4]:
saarc.sort()
print(saarc)
li=[8,5,2,3,6,9,7,4,1]
li.sort()
print(li)

['Afghanistan', 'Bangladesh', 'Bhutan', 'India', 'Maldivs', 'Nepal', 'Pakistan', 'Sri Lanka']
[1, 2, 3, 4, 5, 6, 7, 8, 9]

### reverse() function to sort the elements of a list in a descending order

In [6]:
li.reverse()
print(li)
saarc.reverse()
print(saarc)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
['Sri Lanka', 'Pakistan', 'Nepal', 'Maldivs', 'India', 'Bhutan', 'Bangladesh', 'Afghanistan']

### insert() 
to add in the list in any index of the list which works like insert(index number in the list, element that in being inserted)

In [11]:
fruits=["mango","orange","banana"]
print(fruits)
fruits.insert(0,"apple")
print(fruits)
fruits.insert(3,"pineapple")
print(fruits)

['mango', 'orange', 'banana']
['apple', 'mango', 'orange', 'banana']
['apple', 'mango', 'orange', 'pineapple', 'banana']

### remove() to remove from the list

In [12]:
print(fruits)
fruits.remove("apple")
print(fruits)

['apple', 'mango', 'orange', 'pineapple', 'banana']
['mango', 'orange', 'pineapple', 'banana']

### pop()

In [13]:
li=[8,5,2,3,6,9,7,4,1]
print(li)
Pop = li.pop()
print(li)
print(Pop)

[8, 5, 2, 3, 6, 9, 7, 4, 1]
[8, 5, 2, 3, 6, 9, 7, 4]
1

### pop(index)

In [14]:
print(li)
Pop = li.pop(3)
print(li)
print(Pop)

[8, 5, 2, 3, 6, 9, 7, 4]
[8, 5, 2, 6, 9, 7, 4]
3

### count() function to count down how many times a function is in the list

In [15]:
li=[8,5,2,8,6,9,7,8,1]
print(li)
count = li.count(8)
print(count)

[8, 5, 2, 8, 6, 9, 7, 8, 1]
3

### del() method to delete an element from the list of to delete the whole list

In [3]:
li=[8,5,2,3,6,9,7,4,1]
print(li)
del(li[3])
print(li)
del(li)
print(li)

[8, 5, 2, 3, 6, 9, 7, 4, 1]
[8, 5, 2, 6, 9, 7, 4, 1]

NameError: name 'li' is not defined

### ---------------

In [19]:
li=[]
for x in range(10):
    li.append(x)
print(li)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

operation(+,*) between the list

In [21]:
li1=[1,2,3]
li2=[4,5,6]
li3=li1+li2
print(li3)
li3=li3*2
print(li3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

### join() method to join the elements of a list to make a single string

In [26]:
li=["A","K","M","Shabab"]
str="".join(li)
print(str)
str=" ".join(li)
print(str)
str="-".join(li)
print(str)

AKMShabab
A K M Shabab
A-K-M-Shabab

##   list comprehensions

In [27]:
li=[0,1,2,3,4,5,6,7,8,9]
li2=[2*x for x in li]
print(li)
print(li2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [28]:
li=[0,1,2,3,4,5,6,7,8,9]
li2=[x for x in range(1,9) if x%2==0]
print(li)
print(li2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]

##  Tuple

In [1]:
tuple1=(1,2,3)
type(tuple1)

tuple

In [2]:
tuple2=1,2,3
type(tuple2)

tuple

In [3]:
x=1
type(x)

int

In [4]:
x=()
type(x)

tuple

we can get the elements in the tuple by using tuple inedx

In [5]:
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

1
2
3

The elements in a tuple can't be eddited like we can do in list

In [6]:
i,j,k=tuple1
print(i)
print(j)
print(k)
tuple1=i,j,k
print(tuple1)

1
2
3
(1, 2, 3)

loop on a tuple

In [7]:
tuple1=(1,2,1.1,["a","b","c"],("string1","string2"))
for item in tuple1:
    print(item,type(item))
print(tuple1[3],type(tuple1[3]))
print(tuple1[3][1],type(tuple1[3][1]))

1 <class 'int'>
2 <class 'int'>
1.1 <class 'float'>
['a', 'b', 'c'] <class 'list'>
('string1', 'string2') <class 'tuple'>
['a', 'b', 'c'] <class 'list'>
b <class 'str'>

list() method converts tuple to list

In [8]:
li = list(tuple1)
print(li)

[1, 2, 1.1, ['a', 'b', 'c'], ('string1', 'string2')]

#   SET

An empty set

In [8]:
s = set()
type(s)

set

A set with element

In [1]:
s = {"element1","element2","element3"}
type(s)

set

Converting a list or tuple in set

In [9]:
li=[1,2,3]
tp=(1,2,3)
s = set(li)
print(s)
s = set(tp)
print(s)

{1, 2, 3}
{1, 2, 3}

We can make a set out of a string. In this case every alphabet will be an element of the set. But they will not follow any order.

In [11]:
S = set("Python")
print(S)

{'n', 'o', 't', 'P', 'y', 'h'}

To find if someting is an element of a set

In [22]:
print(s)
print("1 in s ->",1 in s)
print("4 in s ->",4 in s)

{1, 2, 3}
1 in s -> True
4 in s -> False

Let A , B are two sets. Now, A&B is set intersection, A|B is set union, A^B to find the uncommon between A & B and A-B is what is to find all that is in only A but not in B

In [20]:
A = {1,2,3,4,5}
B = {2,4,6,8}
print("A->",A)
print("B->",B)
print("A & B->",A&B)
print("A | B->",A|B)
print("A ^ B->",A^B)
print("A - B->",A-B)

A-> {1, 2, 3, 4, 5}
B-> {8, 2, 4, 6}
A & B-> {2, 4}
A | B-> {1, 2, 3, 4, 5, 6, 8}
A ^ B-> {1, 3, 5, 6, 8}
A - B-> {1, 3, 5}

##  Dictionary
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [2]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
print(type(car))
print(car)

<class 'dict'>
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Making a empty dictionary & adding elements into it:

In [7]:
dic={}
print(type(dic))
dic[1]="One"
print(dic)
dic[2]="Two"
print(dic)
dic['a']='A'
print(dic)
dic['b']='B'
print(dic)

<class 'dict'>
{1: 'One'}
{1: 'One', 2: 'Two'}
{1: 'One', 2: 'Two', 'a': 'A'}
{1: 'One', 2: 'Two', 'a': 'A', 'b': 'B'}